body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#main {
  flex: 1;
  margin: 20px;
  display: grid;
  max-width: 600px;
  max-height: 600px;
  aspect-ratio: 1/1;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
}

.buttons {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.buttons button {
  border: none;
  border-radius: 10px;
  padding: 20px;
  background-color: #c85750;
  color: white;
  font-weight: bold;
}

.buttons button:hover {
  cursor: pointer;
}

.card {
  display: flex;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  background-size: 400px;
  opacity: 0.8;
  background-image: url("assets/card-bg.webp");
}

.over {
  position: absolute;

  width: 100%;
  height: 100%;
}

.card:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 15px;
  opacity: 1;
}

.card-flipped {
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: floralwhite;
}
